version: '3.1'

services:
  yaegar-rest-service:
    build:
      context: .
    image: yaegar-rest-service:latest
    ports:
      - "8888:8080"
    depends_on:
      - postgresdb
    environment:
      - app.db.host=postgresdb

  postgresdb:
    image: "postgres"
    container_name: "postgresdb"
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: "secret"
