version: '3'

services:
  yaegar-rest-service:
    build:
      context: .
    image: yaegar-rest-service:latest
    ports:
      - "8888:8080"
    depends_on:
      - mariadb
    environment:
      - app.db.host=mariadb103

  mariadb:
    image: "mariadb:10.3"
    container_name: "mariadb103"
    restart: always
    expose:
      - "3306"
    ports:
    - "3306:3306"
    environment:
      #      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_ROOT_PASSWORD: "secret"
      MYSQL_ROOT_HOST: '%'
